# `.bazelrc` is a Bazel configuration file.
# https://docs.bazel.build/versions/master/best-practices.html#using-the-bazelrc-file

# Enable rustfmt for all targets in the workspace
build --aspects=//rust:defs.bzl%rustfmt_aspect
build --output_groups=+rustfmt_checks
