{%- for alias in crate.default_deps.aliased_dependencies %}
        "{{alias.target}}": "{{alias.alias}}",
{%- endfor %}
{%- for dep in crate.targeted_deps %}
{%- for alias in dep.deps.aliased_dependencies %}
        "{{alias.target}}": "{{alias.alias}}",
{%- endfor %}
{%- endfor %}